<head>
  <title>EntropyGraph - Modern Network Infrastructure</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  {{- $baseStyle := resources.Get "css/style.css" }}
  {{- $fontAwesomeStyle := resources.Get "css/fa.css" }}
  {{- $css := slice $baseStyle $fontAwesomeStyle | resources.Concat "style.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  {{- partial "twitter_cards.html" . -}}
</head>
