  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/vertical-logo.svg"/>
  <meta name="twitter:title" content="EntropyGraph"/>
  <meta name="twitter:description" content="Modern Network Infrastructure"/>
  <meta name="twitter:site" content="@entropygraph"/>
  <meta name="twitter:creator" content="@tcrypt25519"/>
  <meta property="og:url" content="{{ .Site.BaseURL }}"/>
  <meta property="og:title" content="EntropyGraph" />
  <meta property="og:description" content="Modern Network Infrastructure"/>
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/vertical-logo.svg"/>
